<md-toolbar class="md-tall md-hue-2">
	<div layout="column" class="md-toolbar-tools-bottom inset">
		<div layout="row">
			<div flex="20">

			</div>
			<div flex="80" style="margin-top: 10px;font-size: 1em;">
				<div>Fernando Monteiro</div>
			</div>
		</div>
	</div>
</md-toolbar>
<md-list>
	<md-list-item ng-repeat="item in vm.menu" ng-click="vm.navigateTo(item.link)">
		<div class="inset" ng-show="item.icon">
			<ng-md-icon icon="{{item.icon}}"></ng-md-icon>
		</div>
		<p> {{ item.name }}</p>
	</md-list-item>
	<md-divider></md-divider>
	<md-subheader>Admin</md-subheader>
	<md-list-item ng-repeat="item in vm.admin" ng-click="vm.showSettingsBottom($event)">
		<div class="inset">
			<ng-md-icon icon="{{item.icon}}"></ng-md-icon>
		</div>
		<p> {{ item.title }}</p>
	</md-list-item>
</md-list>
